@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// Variables

// Colors

// Primary

$strong-cyan: hsl(172, 67%, 45%);

// Neutral

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyans: hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// Font Size - Form Inputs

$font-size-form-inputs: 24px;
